# set compilers GNU
CC=gcc
F90=gfortran

# set compilers ECMWF Cray
#CC=cc
#F90=ftn

# full path to your numpy core includes
#NUMPYINCLUDE=path/to/your/python/lib/python3.6/site-packages/numpy/core/include/numpy
NUMPYINCLUDE = /cmsaf/cmsaf-cld1/dphilipp/miniconda3/envs/nnenv/lib/python3.6/site-packages/numpy/core/include/numpy/

# full path to your python includes
#PYINCLUDE = path/to/your/python/include/python3.6m
PYINCLUDE = /cmsaf/cmsaf-cld1/dphilipp/miniconda3/envs/nnenv/include/python3.6m

# set includes
INC = -I${PYINCLUDE} -I${NUMPYINCLUDE}

# set Fortran compiler flags for GNU
FFLAGS = -O3 -ffree-line-length-0 
#set Fortran compiler flags for ECMWF Cray
#FFLAGS = -O3

# set C compiler flags
CFLAGS = -O3 -std=c99
