# set compilers GNU
CC=gcc
F90=gfortran

# set compilers ECMWF Cray
#CC=cc
#F90=ftn

# set compilers Intel
#CC=icc
#F90=ifort

# full path to your numpy core includes
# get your numpy include path with:
# ./get_py_config.sh
NUMPYINCLUDE=path/to/your/python/lib/python3.X/site-packages/numpy/core/include/numpy

# full path to your python includes
# get your Python include path with:
# ./get_py_config.sh
PYINCLUDE = path/to/your/python/include/python3.X

PY2CINCLUDE = ${PWD}
# -----------------------------

# set includes
INC = -I${PYINCLUDE} -I${NUMPYINCLUDE} -I${PY2CINCLUDE}

# set Fortran compiler flags for GNU
FFLAGS = -O3 -ffree-line-length-0 
#set Fortran compiler flags for ECMWF Cray
#FFLAGS = -O3
# set Fortran compiler flags for Intel
#FFLAGS = -O3

# set C compiler flags for GNU
CFLAGS = -O3 -std=c99
# set C compiler flags for ECMWF Cray
#CFLAGS = -O3
# set C compiler flags for Intel
#CFLAGS = -O3
