# set compilers GNU
CC=gcc
F90=gfortran

# set compilers ECMWF Cray
#CC=cc
#F90=ftn

# set compilers Intel
#CC=icc
#F90=ifort

# full path to your numpy core includes
#NUMPYINCLUDE=path/to/your/python/lib/python3.6/site-packages/numpy/core/include/numpy
NUMPYINCLUDE=/perm/sf7/dphilipp/software/miniconda3/envs/tfenv/lib/python3.8/site-packages/numpy/core/include/numpy/

# full path to your python includes
PYINCLUDE = /perm/sf7/dphilipp/software/miniconda3/envs/tfenv/include/python3.8
#PYINCLUDE = /cmsaf/cmsaf-cld1/dphilipp/miniconda3/envs/nnenv/include/python3.6m

PY2CINCLUDE = ${PWD}
# -----------------------------

# set includes
INC = -I${PYINCLUDE} -I${NUMPYINCLUDE} -I${PY2CINCLUDE}

# set Fortran compiler flags for GNU
FFLAGS = -O3 -ffree-line-length-0 
#set Fortran compiler flags for ECMWF Cray
#FFLAGS = -O3
# set Fortran compiler flags for Intel
#FFLAGS = -O3

# set C compiler flags for GNU
CFLAGS = -O3 -std=c99
# set C compiler flags for ECMWF Cray
#CFLAGS = -O3
# set C compiler flags for Intel
#CFLAGS = -O3
